.home-top {
    display: flex;
}




.group-list-item {
    display: flex;
    width: 90vw;
    align-items: center;
    padding: 10px 0 10px 10px;
    justify-content: start;
    border-bottom: 1px solid var(--primary);

    cursor: pointer;
}

.group-list-item:nth-child(1) {
    border-radius: 1rem 1rem 0 0;
}

.group-list-item:nth-last-child(1):hover {
    border-radius: 0 0 1rem 1rem;
}

.group-list-item:hover {
    background-color: white;
    color: var(--white);
}

.group-list-item > img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}