ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  
}
.btn {
    border-radius: .75rem;
    font-weight: 750;
    padding: 14px 20px;    
    margin: 8px 0;
    border: none;
    cursor: pointer;
}