@font-face {
  font-family: 'Raleway';
  src: url('../public/fonts/Raleway-VariableFont_wght.ttf');
}

.App {
  text-align: center;
  --primary: #386641;
  --secondary: #6A994E;
  --tertiary: #A7C957;
  --background: #F2E8CF;
  --light-text: #F2E8CF;
  --dark-text: #582F0E;
  --secondary-negative: #BC4749;
}

* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

.full-h {
  height: 100vh;
}

.container {
  height: 100%;
  padding: 36px;
  overflow-x: hidden;
}

.btn {
  border-radius: .75rem;
  font-weight: 750;
  padding: 14px 20px;    
  margin: 8px 0;
  border: none;
  cursor: pointer;
}

  /* Add a hover effect for buttons */
  .btn:hover {
    opacity: 0.8;
  }

.rounded {
    border-radius: 1.5rem;
}

.x-padding {
  padding-left: 50px;
  padding-right: 50px;
}

.primary {
  background-color: #386641;
}

.primary-text {
  color: #386641;
}

.secondary {
  background-color: #6A994E;
}

.secondary-text {
  color: #6A994E;
}

.tertiary {
  background-color: #A7C957;
}

.tertiary-text {
  color: #A7C957;
}

.background {
  background-color: #F2E8CF;
}

.light-text {
  color: #F2E8CF;
}

.dark-text {
  color: #582F0E;
}

.secondary-negative {
  background-color: #BC4749;
}

.secondary-negative-text {
  color: #BC4749;
}

  


.link {
  position: relative;
  font-weight: 700;
  cursor: pointer;
}

.link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0px;
  height: 2px;
  background: var(--secondary-negative);
  transition: width .3s;
}

.link:hover::after {
  width: 100%;
  transition: width .3s;
}