@font-face {
  font-family: 'Raleway';
  src: url('../public/fonts/Raleway-VariableFont_wght.ttf');
}

.App {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.full-h {
  height: 100vh;
}

.btn {
  border-radius: .5rem;
  font-weight: 750;
  color: white;
  padding: 14px 20px;    
  margin: 8px 0;
  border: none;
  cursor: pointer;
}

.primary {
  background-color: #04AA6D;
}

.secondary {
  background-color: #6A994E;
}

.tertiary {
  background-color: #A7C957;
}

.background {
  background-color: #F2E8CF;
}

.light-text {
  color: #F2E8CF;
}

.dark-text {
  color: #582F0E;
}

.secondary-negative {
  background-color: #BC4749;
}

  
  /* Add a hover effect for buttons */
.btn-primary:hover {
  opacity: 0.8;
}