.background {
    background-color: #F2E8CF;
}

.pic-carousel {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.carousel-item {
    transform: scale(0.8);
}

.carousel-item.active {
    transform: scale(1);
}

